name: Single Working Proxy

on:
  workflow_dispatch:

jobs:
  proxy:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Start Tailscale
        run: |
          sudo tailscale up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=gh-proxy

      - name: Install SOCKS5 proxy
        run: |
          sudo apt update -y
          sudo apt install -y dante-server
          echo "internal: lo port = 1080" | sudo tee /etc/danted.conf
          echo "external: eth0" | sudo tee -a /etc/danted.conf
          echo "socksmethod: none" | sudo tee -a /etc/danted.conf
          echo "clientmethod: none" | sudo tee -a /etc/danted.conf
          echo "user.privileged: root" | sudo tee -a /etc/danted.conf
          echo "user.unprivileged: nobody" | sudo tee -a /etc/danted.conf
          echo "client pass { from: 0.0.0.0/0 to: 0.0.0.0/0 }" | sudo tee -a /etc/danted.conf
          echo "pass { from: 0.0.0.0/0 to: 0.0.0.0/0 }" | sudo tee -a /etc/danted.conf
          sudo danted

      - name: Output proxy
        run: |
          TS_IP=$(tailscale ip -4)
          echo "SOCKS5 PROXY => $TS_IP:1080"
          sleep 21600
