name: Single Working Proxy

on:
  workflow_dispatch:

jobs:
  proxy:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Start Tailscale
        run: |
          sudo tailscale up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=gh-proxy

      - name: Install SOCKS5
        run: |
          sudo apt update -y
          sudo apt install -y dante-server
          cat <<'EOF' | sudo tee /etc/danted.conf
internal: lo port = 1080
external: eth0
socksmethod: none
clientmethod: none
user.privileged: root
user.unprivileged: nobody
client pass { from: 0.0.0.0/0 to: 0.0.0.0/0 }
pass { from: 0.0.0.0/0 to: 0.0.0.0/0 }
EOF
          sudo danted

      - name: Output proxy
        run: |
          TS_IP=$(tailscale ip -4)
          echo "SOCKS5 PROXY => $TS_IP:1080"
          sleep 21600
